@charset "UTF-8";
@media (max-width: 750px) {
  footer {
    position: relative;
    bottom: 25px; } }
.skill_main .skill_item {
  margin-bottom: 18px; }
  .skill_main .skill_item:last-child {
    margin-bottom: 0px; }
  .skill_main .skill_item h4 {
    text-align: none;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 15px; }
  .skill_main .skill_item .progress_br {
    border: 1px solid #eeeeee;
    padding: 5px;
    border-radius: 10px; }
  .skill_main .skill_item .progress {
    height: 10px;
    border-radius: 10px;
    background: #e8e8e8; }
    .skill_main .skill_item .progress .progress-bar {
      width: 0%;
      transition: width .6s ease;
      height: 10px;
      border-radius: 5px;
      vertical-align: middle;
      align-self: center;
      background-image: -moz-linear-gradient(0deg, #78a5bc 0%, #3C6478 100%);
      background-image: -webkit-linear-gradient(0deg, #78a5bc 0%, #3C6478 100%);
      background-image: -ms-linear-gradient(0deg, #78a5bc 0%, #3C6478 100%); }

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden; }

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: rgba(255, 255, 255, 0.75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch; }

.nav-underline .nav-link {
  font-size: 1.1rem;
  color: #6c757d; }

.nav-underline .active {
  font-weight: 500;
  color: #233a45;
  border-bottom: 2px solid #3C6478;
  font-size: 1.2rem; }

.panel-group {
  background: #fff none repeat scroll 0 0;
  border-radius: 3px;
  box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.04);
  margin-bottom: 0; }

#accordion .panel {
  border: medium none;
  border-radius: 0;
  box-shadow: none;
  margin: 0 0 15px 10px; }

#accordion .panel-heading {
  border-radius: 30px;
  padding: 0; }

#accordion .panel-title a {
  background: #3C6478 none repeat scroll 0 0;
  border: 1px solid transparent;
  border-radius: 10px;
  color: #fff;
  display: block;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 20px 12px 50px;
  position: relative;
  transition: all 0.3s ease 0s; }

#accordion .panel-title a.collapsed {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #ddd;
  color: #3C6478;
  font-size: 16px; }

#accordion .panel-title a::after, #accordion .panel-title a.collapsed::after {
  background: #3C6478 none repeat scroll 0 0;
  border: 1px solid transparent;
  border-radius: 50%;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.58);
  color: #fff;
  content: "";
  font-family: fontawesome;
  font-size: 25px;
  height: 55px;
  left: -20px;
  line-height: 55px;
  position: absolute;
  text-align: center;
  top: -5px;
  transition: all 0.3s ease 0s;
  width: 55px; }

#accordion .panel-title a.collapsed::after {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #ddd;
  box-shadow: none;
  color: #3C6478;
  content: ""; }

#accordion .panel-body {
  background: transparent none repeat scroll 0 0;
  border-top: medium none;
  padding: 20px 25px 10px 9px;
  position: relative; }

#accordion .panel-body p {
  border-left: 1px dashed #8c8c8c;
  padding-left: 25px; }

html,
body {
  overflow-x: hidden;
  /* Prevent scroll on narrow devices */
  font-family: 'Varela Round', sans-serif; }

.text-white-50 {
  color: rgba(255, 255, 255, 0.5); }

.bg-theme {
  background-color: #3C6478; }

.lh-100 {
  line-height: 1; }

.lh-125 {
  line-height: 1.25; }

.lh-150 {
  line-height: 1.5; }

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

@media (min-width: 769px) {
  body {
    background-image: url("../img/85332.jpg");
    background-color: rgba(255, 255, 255, 0.41) !important;
    background-blend-mode: color;
    background-size: cover; }

  .card-principal {
    height: 550px; }

  .card {
    border: none; } }
@media (max-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem; }

  #containerPrincipal {
    padding: 0; }

  .card-principal {
    -webkit-box-shadow: 0px 0px 24px -11px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 0px 24px -11px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 0px 24px -11px rgba(0, 0, 0, 0.7);
    border: none;
    height: 100%; }

  .card {
    border-radius: 0px !important;
    border: none !important; } }
.card-header {
  border-bottom: none;
  background-color: transparent; }

.card-projects {
  -webkit-box-shadow: 10px 10px 5px -8px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 10px 10px 5px -8px rgba(0, 0, 0, 0.57);
  box-shadow: 10px 10px 5px -8px rgba(0, 0, 0, 0.57); }

.card-principal {
  -webkit-box-shadow: 0px 0px 24px -11px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 0px 24px -11px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0px 24px -11px rgba(0, 0, 0, 0.7); }
  .card-principal .card-img-top {
    object-fit: cover;
    object-position: top; }
  .card-principal .card-line-icon {
    position: relative;
    width: 30px;
    max-height: 100%;
    height: 100%; }
  .card-principal .card-line-text {
    overflow: hidden;
    position: relative;
    left: 15px; }

.card-line-social a:link, .card-line-social a:visited {
  color: #78a5bc; }
  .card-line-social a:link:hover, .card-line-social a:visited:hover {
    color: #3C6478; }

.projects-link {
  z-index: 20;
  position: relative; }

.btn-theme {
  background-color: #3C6478 !important;
  color: white !important; }

.btn-theme:hover {
  color: #788b96; }

#marcianoLink:link, #marcianoLink:visited {
  color: #78a5bc !important; }

#marcianoLink:hover {
  color: #3C6478 !important;
  text-decoration: none; }

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #3C6478;
  background-color: transparent;
  border-color: transparent transparent #3C6478;
  border-bottom: 2px solid !important;
  font-size: 20px;
  font-weight: 500; }

.nav-tabs .nav-link {
  border: none;
  color: #abc7d5;
  font-size: 18px; }

/*# sourceMappingURL=style.css.map */
