html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

.text-white-50 { color: rgba(255, 255, 255, .5); }

.bg-theme { background-color: #3C6478; }

.lh-100 { line-height: 1; }
.lh-125 { line-height: 1.25; }
.lh-150 { line-height: 1.5; }

body {   
    font-family: 'Varela Round', sans-serif;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.card-projects {
    -webkit-box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.57);
    -moz-box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.57);
    box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.57);    
}

.card-principal {
    -webkit-box-shadow: 0px 0px 24px -11px rgba(0,0,0,0.7);
    -moz-box-shadow: 0px 0px 24px -11px rgba(0,0,0,0.7);
    box-shadow: 0px 0px 24px -11px rgba(0,0,0,0.7);
    border-color: whitesmoke;
}

.projects-link {    
    z-index: 20; 
    position: relative;    
}

.nav-pills .nav-link {
    background-color: #3C6478 !important;
    color: white;
}

.nav-pills .nav-link:not(.active) {
    background-color: rgb(177, 207, 223) !important;
}

.nav-link:hover {    
    color: rgb(120, 139, 150);
}

.btn-theme {
    background-color: #3C6478 !important;
    color: white !important;
}

.btn-theme:hover {
    color: rgb(120, 139, 150);
}

#marcianoLink:link {
    color: #3C6478 !important;
}

#marcianoLink:hover {
    color: rgb(120, 139, 150) !important;
    text-decoration: none;
}

#marcianoLink:visited {
    color: rgb(177, 207, 223);
}



